.friend_list {
	width: 425px;
	height: 450px;
	margin: auto;
	border: solid 1px rgb(211, 221, 221);
}

.item {
	display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 1em;
  padding-left: 10px;
  border-radius: 3px;
}

 
.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
}

.statusOffline {
    background-color: red;
}

.avatar {
    border-radius: 10px;
    margin: 10px;
}

.name {
    font-size: 24px;
  font-weight: 600;
}
